.pagina-no-encontrada{
    font-size: 50px;
    margin-top: 270px;
}
.not-found-message{
    font-size: 25px;
}
.boton-regresa-incio{
    margin-left: 22%;
  margin-right: 3%;
  width: 55%;
  align-items: center;
  display: block;
  height: 50px;
}