.update{
    position: fixed; 
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    z-index: 100;
    overflow: hidden;
    border-radius: 25%;
    
}
.delete{
    position: fixed;
    top: 0;
    right: 0;
}

.nombre_nota{
    font: 200;
    size: 40px; 
}
.input{
    size: 5px;
}

.descrip_nota{
    height: 100%;
}
*{
    --padding-start: 20px;
    --padding-end: 20px;
    overflow-y: 20px;
  }



.descrip_nota{
    font-size: 20px;
}



.tipo_nota{
    font-size: 20px;
}


.fecha_nota{
    font-size: 20px;
}
.add-note{
    color: white;
   position: fixed; 
    bottom: 0;
    right: 0;
    z-index: 100;
    overflow: hidden;
    margin-bottom: 25px;
    margin-right: 25px;
    border-radius: 30px;

}