.pagina-no-encontrada{
    font-size: 50px;
    margin-top: 15%;
}
.not-found-message{
    font-size: 25px;
}
.boton-regresa-incio{
    margin-left: 22%;
  margin-right: 3%;
  width: 55%;
  align-items: center;
  display: block;
  height: 50px;
}

.miniface{
    animation: infinite 3s shake;
}    
@keyframes shake {
    100%{transform: rotate(30deg);}
    50%{transform: rotate(-0.130turn);}
    
}