.AceptaBoton{
    top: 10px; /* Ajusta la posición vertical según sea necesario */
    right: 10px; /* Ajusta la posición horizontal según sea necesario */
    z-index: 10; /* Ajusta el índice z si es necesario */
    position: absolute;

}