body{
    color:white;
    position: absolute;
}
ion-title{
    color:black;
}
.user{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.recordatorio{
    width: 25px;
}
.menu{
    width: 50px;
}
.btn-menu{
    
    color: red;
}
ion-searchbar{
    width: auto;
    --placeholder-color:white;
    color:white;
}