body{
    color:black;
    position: absolute;
}
ion-title{
    color:black;
}
.user{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.recordatorio{
    width: 25px;
    background-color: #7dc6de;
    margin-right: 15px;
}
.menu{
    width: 50px;
}
.btn-menu{
    
    color: red;
}
ion-searchbar{
    width: 100%;
    --placeholder-color:rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    display: flex;
    --cancel-button-color: red;
   

}
.block {
    width: 100%;
    height: 300px;
    
    align-items: center;
    justify-content: center;
  }
  
  ion-modal {
    --height: 375px;
    
  }
.img{
    width: 50px;
    background: transparent;
}
.btn{
    width: 50px;}
ion-button{
    background-color: transparent;
}
.containeritem{display: flex;
    justify-content: center;
    align-items: center;}

.containernombre{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 30px;}
.nombre{
    margin-top: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.modal{
    backdrop-filter: blur(10px);
    
   
}

.nombre_correo{
    margin-top: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.boton_barra {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px; 
  }
  .boton_barr{
    position: absolute;
    left: 23.5%;
    width: 200px;
    top: 70%;
  }
.color_barra{
    
    background-color: #7dc6de;

}

.img-user{
    max-width: 130px;
    max-height: 100px;
    border-radius: 20px;

}
.tomar_foto{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 23.5%;
    --ion-color-primary: linear-gradient(#6d9fa3,#466d74);



}
.icon_out{
    margin-right: 15px;
}


.boton_logo_recordatorio{
    margin-left: 120px;
    margin-bottom: 5px;


}

.boton_logo_cerrar{
    margin-left: 120px;
    width: 25px;

}
ion-modal{
    
    --ion-background-color: linear-gradient( #6d9fa3, #466d74,#384d52);
    }


.delete-button{
    width: auto;
    position: absolute;
    top: 10%;
    left: 70%;

}
  
