<ion-menu contentId="main-content">
  <ion-header>
      <ion-title>Menú</ion-title>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="image-container">
      <img class="user"src="assets/img/user.png" alt="">
    </div>
      <ion-list>
      <ion-item ><ion-icon name="home-outline" ></ion-icon> Inicio</ion-item>
      <ion-item><img class="recordatorio"src="assets/img/recordatorio.png" alt="">Recordatorio</ion-item>
      <ion-item>  </ion-item>
      </ion-list>
      <ion-button class="cerrar">cerrar session</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  
</div>