<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button id="open-modal" class="btn" expand="block">
        <img class="img" src="assets/img/menu.png" alt="">
      </ion-button>
      <ion-searchbar showCancelButton="focus" label="Buscar"></ion-searchbar>
    </ion-buttons>
    <ion-content class="ion-padding" style="margin-top: -40px;">
      <ion-modal class="modal" trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
          <div class="block">
            <div class="image-container">
              <img *ngIf="capturedImage" [src]="capturedImage" class="img-user" alt="Imagen capturada">
              <ion-button *ngIf="capturedImage" (click)="deleteImage()" class="delete-button">Eliminar</ion-button>
          </div>
            <div class="containernombre">{{ newUser.name }} {{ newUser.lastName }}</div>
            <h3 class="nombre_correo">{{ newUser.email }}</h3>
            <ion-button class="tomar_foto"(click)="TakeImage()">Imagen para el perfil</ion-button>
            <div class="boton_logo_recordatorio">
                
                <ion-button (click)="dismiss()" class="boton_barr"><img class="recordatorio" src="assets/img/recordatorio.png" alt="">Recordatorio</ion-button>
            </div>
            <div class="boton_logo_cerrar">

                <ion-button (click)="confirmarCerrarSesion()" class="boton_barra"><ion-icon name="log-out-outline" class="icon_out"></ion-icon>Cerrar sesión</ion-button>
          </div>
          </div>
        </ng-template>
      </ion-modal>
    </ion-content>
  </ion-toolbar>
</ion-header>













    
 