body{
    color:white;
    position: absolute;
}
ion-title{
    color:black;
}
.user{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.recordatorio{
    width: 25px;
}
.menu{
    width: 50px;
}
.btn-menu{
    
    color: red;
}
ion-searchbar{
    width: 100%;
    --placeholder-color:white;
    color:white;
    display: flex;
    --cancel-button-color: red;
   

}
.block {
    width: 100%;
    height: 300px;
    
    align-items: center;
    justify-content: center;
  }
  
  ion-modal {
    --height: auto;
  }
.img{
    width: 50px;
    background: transparent;
}
.btn{width: 50px;}
ion-button{
    background-color: transparent;
}
.containeritem{display: flex;
    justify-content: center;
    align-items: center;}
.out{
    width: 25px;
}
.containernombre{
    display: flex;
    justify-content: center;
    align-items: center;}
.nombre{
    margin-top: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.modal{
    backdrop-filter: blur(10px);
}

.nombre_correo{
    margin-top: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}