.update{
    margin-left: 85%;
}
.delete{
    margin-left: 68%;
    margin-top: -57px;
}

.nombre_nota{
    font-size: 20px;
    
}
.input{
    size: 5px;
}
ion-textarea {
    --padding-start: 20px;
    --padding-end: 20px;
    overflow-y: 20px;
  }




.descrip_nota{
    font-size: 20px;
}



.tipo_nota{
    font-size: 20px;
}


.fecha_nota{
    font-size: 20px;
}