<ion-header>

    
<ion-button  (click)="redirect()"fill="clear" >
  <ion-icon name="arrow-undo-outline"  style="font-size: 40px; color: black;"   ></ion-icon>
</ion-button>



  <div class="delete">
    <!--boton eliminar-->
    <ion-button (click)="eliminarNota()" fill="clear" style="color: red; font-size: 30px;">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </div>
</ion-header>
<ion-content>

  
<!--NOMBRE DE LA NOTA-->
<div class="nombre_nota" >
  <ion-label >Nombre de la Nota</ion-label>
<ion-input
[value]="selectedNote.nombreNota" (ionChange)="selectedNote.nombreNota = $event.detail.value" placeholder="Nombre de la Nota" class="input">
</ion-input>
</div>

<!--TIPO DE NOTA-->

<div class="tipo_nota">
  <ion-label position="stacked" >Tipo de Nota</ion-label>
  <ion-select [value]="selectedNote.tiponota" (ionChange)="selectedNote.tiponota = $event.detail.value">
      <ion-select-option value="personal">Personal</ion-select-option>
      <ion-select-option value="compras">Compras</ion-select-option>
      <ion-select-option value="estudios">Estudios</ion-select-option>
      <ion-select-option value="trabajo">Trabajo</ion-select-option>
  </ion-select>
</div>



<!--FECHA DE LA NOTA-->
<div class="fecha_nota">
  <ion-label position="stacked">Fecha de la Nota</ion-label>
  <ion-input [value]="selectedNote.fecha"  type="date"></ion-input>
</div>



<!--DESCRIPCION DE LA NOTA-->

<ion-textarea [value]="selectedNote.descripcion" (ionChange)
="selectedNote.descripcion = $event.detail.value" style="white-space: pre-line; word-wrap: break-word; height: 100%
"required>Descripcion de la</ion-textarea>

<div class="update">
  <!--boton de actualizar-->
    <ion-button (click)="updateTask()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>



</ion-content>



