<ion-header>
  <ion-button  (click)="updateTask()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-button>
  <ion-button fill="clear" class="delete"(click)="eliminarNota()">
    <ion-icon name="trash" ></ion-icon>
    
  </ion-button>

</ion-header>
<ion-item>
  <ion-label position="stacked">Nombre de la Nota</ion-label>
  <ion-input [value]="selectedNote.nombreNota" (ionChange)="selectedNote.nombreNota = $event.detail.value" placeholder="Nombre de la Nota"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Descripción</ion-label>
  <ion-textarea [value]="selectedNote.descripcion" (ionChange)="selectedNote.descripcion = $event.detail.value" placeholder="Descripción de la Nota"></ion-textarea>
</ion-item>

<ion-item>
  <ion-label position="stacked">Tipo de Nota</ion-label>
  <ion-select [value]="selectedNote.tiponota" (ionChange)="selectedNote.tiponota = $event.detail.value">
    <ion-select-option value="personal">Personal</ion-select-option>
    <ion-select-option value="compras">Compras</ion-select-option>
    <ion-select-option value="estudios">Estudios</ion-select-option>
    <ion-select-option value="trabajo">Trabajo</ion-select-option>
    <!-- Agrega más opciones según tus necesidades -->
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="stacked">Fecha de la Nota</ion-label>
  <ion-input [value]="selectedNote.fecha"  type="date"></ion-input>
</ion-item>


