<ion-header>

<div class="update">
  <!--boton de actualizar-->
    <ion-button (click)="updateTask()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>

  <div class="delete">
    <!--boton eliminar-->
    <ion-button (click)="eliminarNota()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </div>
  
  
  

</ion-header>  
<ion-content>


<!--NOMBRE DE LA NOTA-->
<div class="nombre_nota">
  <ion-label >Nombre de la Nota</ion-label>
<ion-input
[value]="selectedNote.nombreNota" (ionChange)="selectedNote.nombreNota = $event.detail.value" placeholder="Nombre de la Nota" class="input">
</ion-input>
</div>



<!--DESCRIPCION DE LA NOTA-->

<div class="descrip_nota">
  <ion-label position="stacked">Descripción</ion-label>
<ion-textarea 
[value]="selectedNote.descripcion" (ionChange)="selectedNote.descripcion = $event.detail.value" placeholder="Descripción de la Nota">
</ion-textarea>
</div>



<!--TIPO DE NOTA-->

<div class="tipo_nota">
  <ion-label position="stacked" >Tipo de Nota</ion-label>
  <ion-select [value]="selectedNote.tiponota" (ionChange)="selectedNote.tiponota = $event.detail.value">
      <ion-select-option value="personal">Personal</ion-select-option>
      <ion-select-option value="compras">Compras</ion-select-option>
      <ion-select-option value="estudios">Estudios</ion-select-option>
      <ion-select-option value="trabajo">Trabajo</ion-select-option>
  </ion-select>
</div>



<!--FECHA DE LA NOTA-->
<div class="fecha_nota">
  <ion-label position="stacked">Fecha de la Nota</ion-label>
  <ion-input [value]="selectedNote.fecha"  type="date"></ion-input>
</div>
</ion-content>



