<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
     
    </ion-toolbar>
  </ion-header>
  
  <ion-button  [routerLink]="['/home', { reload: true }]"> 
  </ion-button>
  

<!--LOGO DE LA APP-->
  <div class="logo-container">
    <img src="assets/img/recordate.jpg" alt="RecorDate" class="recordate-img">
  </div>

<!--TITULO DE REGISTRO-->
  <div class="titulo_login">
    <strong>¡Registrate!</strong>
  </div>


<!--LABEL DE LOS INPUTS DE REGISTROS-->
  <div class="label_registro">
    <ion-input
      [(ngModel)]="nombre"
      label="nombre"
      label-placement="floating"
      fill="outline"
      placeholder=""
      required ></ion-input>
    <br>
    <ion-input
      [(ngModel)]="apellidos"
      label="Apellidos"
      label-placement="floating"
      fill="outline"
      placeholder=""
      required
      >
    </ion-input>
    <br>
    <ion-input
      [(ngModel)]="email"
      label="Email"
      label-placement="floating"
      fill="outline"
      placeholder=""
      required
      >
    </ion-input>
    <br>
    <ion-input
      [(ngModel)]="password"
      label="Contraseña"
      label-placement="floating"
      fill="outline"
      type="password"
      placeholder=""
      required
      >
    </ion-input>
    <br>
    <ion-input
      [(ngModel)]="confirmarPassword"
      label="Confirmar contraseña"
      label-placement="floating"
      fill="outline"
      type="password"
      placeholder=""
      required
      >
    </ion-input>
    <br>

    <!--CHECBOX DE TYC-->
    <ion-checkbox class="chechbox_registro"></ion-checkbox><a href="#">Acepto los términos y condiciones</a>   

  </div>

<!--BOTON DE REGISTRARSE-->
<ion-button expand="full" (click)="obtenerNombre()" (click)="guardarNombre()">Guardar Informacion</ion-button>

<ion-button id = "present-alert"class="boton_registro" (click)="registrar()" [disabled]="!validarFormulario()" [routerLink]="['/home-page']">Registrarse</ion-button>
<ion-alert
  trigger="present-alert"
  header="Haz iniciado sesion correctamente"
  [buttons]="alertButtons"
></ion-alert>
<!--Saludo-->
<br>






</ion-content>





