<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
     
    </ion-toolbar>
  </ion-header>
  
<ion-button  [routerLink]="['/home', { reload: true }]"> < </ion-button>
  

<!--LOGO DE LA APP-->
  <div class="logo-container">
    <img src="assets/img/recordate.jpg" alt="RecorDate" class="recordate-img">
  </div>

<!--TITULO DE REGISTRO-->
  <div class="titulo_login">
    <strong>¡Registrate!</strong>
  </div>


<!--LABEL DE LOS INPUTS DE REGISTROS-->
  <div class="label_registro">
    <ion-input
      [(ngModel)]="user.nombre"
      label="Nombre"
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese su nombre"
      required ></ion-input>
    <br>
    <ion-input
      [(ngModel)]="user.apellidos"
      label="Apellidos"
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese sus apellidos"
      required
      >
    </ion-input>
    <br>
    <ion-input
      [(ngModel)]="user.email"
      label="Correo electrónico"
      label-placement="floating"
      fill="outline"
      placeholder="ejemplo@gmail.com"
      required
      >
    </ion-input>
    <br>
    <ion-input
      [(ngModel)]="user.password"
      label="Contraseña"
      label-placement="floating"
      fill="outline"
      type="password"
      placeholder="Ej: 123456789"
      required
      >
    </ion-input>
    <br>
    <ion-input
      [(ngModel)]="user.confirmarPassword"
      label="Confirmar contraseña"
      label-placement="floating"
      fill="outline"
      type="password"
      placeholder="Ej: 123456789"
      required
      >
    </ion-input>
    <br>
    <!--CHECBOX DE TYC-->
    <ion-checkbox class="chechbox_registro"></ion-checkbox><a href="#">Acepto los términos y condiciones</a>   
  </div>
<!--BOTON DE REGISTRARSE-->
<ion-button id = "present-alert"class="boton_registro" [disabled]="!validarFormulario()" [routerLink]="['/home-page']">Registrarse</ion-button>
</ion-content>





