.label{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-right: 30px;
    margin-top: auto;
}

.showPassword{
    color: white;
    font-size: 30px;
}



/* Agrega esto en tu archivo de estilos global o en tu archivo de estilos específicos del componente */
.custom-label {
    color: white !important;
    font-size: 20px;
    margin-bottom: 20px;
    

}
