<ion-content [fullscreen]="true">
  <div>
    <ion-header>

      <app-barra></app-barra>

    </ion-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list size="auto" class="tipos">
          </ion-list>
        </ion-col>
        <ion-col>
          <!-- Añadir notas -->
          <ion-fab class="add-note">
            <ion-fab-button [routerLink]="['/note', {reload:true}]">

              
              <ion-icon name="add"></ion-icon><!-- Redireccionar a note -->
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let note of userNotes"(click)="editNote(note.id)" style="display: flex; align-items: center; justify-content: center;">
          <ion-card class="note-card">
            <ion-card-header>
              <h5>{{note.fecha}}</h5>
              
              <ion-card-title class="titulo_cards">
                  
                <h1 class="titulo">{{ note.nombreNota }}</h1>
              </ion-card-title>
            </ion-card-header>
            <h5 class="categoria">Categoría: {{ note.tiponota }}</h5>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>