.titulo_login{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.label_registro{
    margin: 50px;
    color: white;
    font-size: 15px;
}
.chechbox_registro{
    margin-right: 20px;
    margin-bottom: 20px;
}
.boton_registro{
    width: 50%;
    align-content: center;
    margin-left:25%;
    margin-right:25%;
    height: 20px;
    margin-bottom: 25%;
}
.recordate-img {
    width: auto;
    height: auto;
    border-radius: 10px;
  
  }
:host {
    --text-color: white;
  }

.boton_regresa_formulario{
  margin-top: 20px;
  font-size: 50px;
  margin-left: 30px;
  color: rgb(255, 255, 255);

}
.validators{
  color:red;
  font-size: 14px;
  padding-bottom: 15px;
  text-align: center;
}
  