<div class="boton_regresa_formulario">
  <!-- Content for boton_regresa_formulario -->
</div>

<div class="logo-container">
  <img src="assets/img/recor.jpg" alt="RecorDate" class="recordate-img">
</div>

<div class="titulo_login">
  <strong>¡Regístrate!</strong>
</div>

<div class="formulario">
  
  <ion-item>
    <ion-label position="floating" color="light">correo</ion-label>
    <ion-input [(ngModel)]="newUser.email" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="light">Nombre de usuario</ion-label>
    <ion-input [(ngModel)]="newUser.name" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="light">apellido</ion-label>
    <ion-input [(ngModel)]="newUser.lastName" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="light">Contraseña</ion-label>
    <ion-input [(ngModel)]="newUser.password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="light">Confirmar Contraseña</ion-label>
    <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
  </ion-item>

 

  <ion-button expand="full" (click)="register()">Registrar</ion-button>
</div>

<div class="mensajeError">
  <ion-item *ngIf="mostrarMensajeError1">
    <ion-label color="danger">{{ mensaje_error1 }}</ion-label>
  </ion-item>

  <ion-item *ngIf="mostrarMensajeError2">
    <ion-label color="danger">{{ mensaje_error2 }}</ion-label>
  </ion-item>

  <ion-item *ngIf="mostrarMensajeError3">
    <ion-label color="danger">{{ mensaje_error3 }}</ion-label>
  </ion-item>
</div>
