<ion-header [translucent]="true">
  
</ion-header>

<ion-button (click)="crearIdNote()" class="AceptaBoton"[disabled]="!isValidNote()">
  <ion-icon name="checkmark-outline"></ion-icon>
</ion-button>
<ion-content [fullscreen]="true">
<div class="formulario">

  <div class="boton_regresa_formulario">
    <ion-icon name="arrow-undo-outline" [routerLink]="['/home-page', { reload: true }]" style="font-size: 40px;"></ion-icon>
</div>
    <ion-list>
      <ion-grid >
        <ion-row>
          <ion-col size="9">
          <ion-item>
           
            <ion-label position="floating" > <ion-icon slot="start" name="clipboard-outline" class="icon_ion"></ion-icon>Nombre Nota</ion-label>
            <ion-input [(ngModel)]="newNote.nombreNota" type="text" required></ion-input>
           
          </ion-item>
          </ion-col>
          
          <ion-col  >
            <ion-item>
              <ion-label>Fecha:</ion-label>
              <ion-input [(ngModel)]="newNote.fecha" type="date" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      
    </ion-list>
    <ion-item >
      <ion-select [(ngModel)]="newNote.tiponota" required>
        <ion-select-option value="personal">Personal</ion-select-option>
        <ion-select-option value="compras">Compras</ion-select-option>
        <ion-select-option value="estudios">Estudios</ion-select-option>
        <ion-select-option value="trabajo">Trabajo</ion-select-option>
      </ion-select>
      <ion-icon slot="start" name="list-outline"></ion-icon>
    </ion-item>
  </div>
  <ion-textarea [(ngModel)]="newNote.descripcion" style="white-space: pre-line; word-wrap: break-word; height: 100%; font-size: 20px;"required></ion-textarea>
  <ion-icon slot="start" name="book-outline" style="background-color: white;"></ion-icon>
</ion-content>


