<ion-header [translucent]="true">
  
</ion-header>

<ion-button (click)="crearIdNote()" class="AceptaBoton">
  <ion-icon name="checkmark-outline"></ion-icon>
</ion-button>
<ion-content [fullscreen]="true">
 
  <div class="container-text">
    <ion-title class="title-pag">
      <p class="title-pag">Recordatorios</p>
    </ion-title>
  </div>
  <br><br>

  <div class="formulario">
    <ion-grid>
      <ion-row>
        <ion-item >
          <ion-select [(ngModel)]="newNote.tiponota">
            <ion-select-option value="personal">Personal</ion-select-option>
            <ion-select-option value="compras">Compras</ion-select-option>
            <ion-select-option value="estudios">Estudios</ion-select-option>
            <ion-select-option value="trabajo">Trabajo</ion-select-option>
          </ion-select>
          <ion-icon slot="start" name="list-outline"></ion-icon>
        </ion-item>
      </ion-row>
    </ion-grid>
    <ion-list>
     
      <ion-grid >
        <ion-row>
          <ion-col size="9">
          <ion-item>
            <ion-icon slot="start" name="clipboard-outline"></ion-icon>
            <ion-label position="floating" >Nombre Nota</ion-label>
            <ion-input [(ngModel)]="newNote.nombreNota" type="text"></ion-input>
           
          </ion-item>
          </ion-col>
          
          <ion-col  >
            <ion-item>
              <ion-label>Fecha:</ion-label>
              <ion-input [(ngModel)]="newNote.fecha" type="date"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      
    </ion-list>
  </div>
  
  <ion-label position="floating" >Descripción</ion-label>
  <ion-textarea [(ngModel)]="newNote.descripcion" style="white-space: pre-line; word-wrap: break-word;height: 100%;"></ion-textarea>
  <ion-icon slot="start" name="book-outline"></ion-icon>
</ion-content>
