.AceptaBoton{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    overflow: hidden;
    margin-bottom: 25px;
    margin-right: 25px;

}
.title-pag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.CancelarBoton{
    top: 10px; /* Ajusta la posición vertical según sea necesario */
    left: 10px; /* Ajusta la posición horizontal según sea necesario */
    z-index: 10; /* Ajusta el índice z si es necesario */
    position: absolute;
    width: 85px;
}
.container-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerFecha{
    display: flex;
    justify-content: center;
    align-items: center;
    --ion-color:red;
}
.descripcion ion-textarea textarea {
    height: auto;
}
*{
    color:rgb(0, 0, 0);
}

ion-textarea {
    --padding-start: 20px;
    --padding-end: 20px;
    overflow-y: 20px;
  }

.icon_ion{
    margin-right: 15px;
    font-size: 30px;
}
