
ion-select{
    --placeholder-color:white;
   
   
}
ion-searchbar{
    --placeholder-color:white;
    --color:white;
}
.card{
    justify-content: center;
    align-items: center;
}
ion-card{
    height: 250px;
    background-color:darkgray;
    
}
.edit{
    width: 25px;
}
.add-note{
    position: relative;
    float: right;
    
}
.header{
    margin-top: 4%;
}