
ion-select{
    --placeholder-color:white;
   
   
}
ion-searchbar{
    --placeholder-color:white;
    --color:white;
}
.card{
    justify-content: center;
    align-items: center;
}
ion-card{
    height: 250px;
    background-color:white;
    
}
.edit{
    width: 25px;
}
